# Do not perform end-of-line normalization
*           -text

# Text/Markdown/ReStructuredText/etc. such as documentation
*.txt       text
*.md        text
*.rst       text

# Cpp
*.c         text diff=cpp
*.cc        text diff=cpp
*.cxx       text diff=cpp
*.cpp       text diff=cpp
*.cpi       text diff=cpp
*.c++       text diff=cpp
*.hpp       text diff=cpp
*.h         text diff=cpp
*.h++       text diff=cpp
*.hh        text diff=cpp

# CSharp
*.cs        text diff=csharp

# Scripts
*.bat       text eol=crlf
*.sh        text eol=lf

# Visual Studio project/solution files explicitly expect CRLF
*.sln       text eol=crlf
*.vcxproj   text eol=crlf
*.csproj    text eol=crlf
